body {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.selected {
  background-color: #009bff;
}
.wrong {
  background-color: rgb(246, 111, 111);
}
